.body_background {
    background-image: url(marcocolores.jpg);
    background-position: center;
    width: 100%;
}

#my_canvas {
    border-width: 10px;
    background-color: antiquewhite;
    border-style: ridge;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}